.container {
  display: flex;
}
.title {
  font-size: 25px;
  font-weight: 400;
  padding-top: 5px;
  padding-left: 5px;
}
.subtitle {
  margin-left: 5px;
  white-space: nowrap;
}
.img {
  height: 40px;
  width: 40px;
}
